$altoGrey: #DADADA;
$white: white;
$lightblue: rgba(28, 110, 164, 0.29);


// Grey-Palette
$classyDarkGrey: #292940;
$classyLightGrey: #ABA9BC;
$classyGrey: #777586;
$classyBrown: #412322;
$classyCinnobre: #73504F;