@use "common/styles/colors.scss" as colors;

.Container {
	border: 5px groove colors.$lightblue;
	border-radius: 5px;
	background: colors.$altoGrey;

	cursor: pointer;

	height: 70px;

	transition: 0.3s background ease-in-out;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	&:hover {
		background: colors.$white;
	}

	&.Open {
		height: auto;
	}

	.Idea {
		height: calc(100% - 10px);
		width: 100%;

		padding: 5px;

		.ShortDescription {
			margin-top: 10px;
		}

		.TotalLikeContainer {
			height: 100%;

			button {
				$size: 18px;
				height: $size;
				min-height: $size;
				width: $size;
				min-width: $size;

				align-self: center;
			}
		}

		.ExpandMore {
			cursor: pointer !important;
		}
	}

	.ControlSection {
		margin-left: -5px;

		.Attachments {
			position: relative;

			.Number {
				position: absolute;
				margin-left: -3px;
			}

			.AttachmentIcon {
				transform: rotate(270deg);
			}
		}
	}
}
