.ContentWrapper {
	background-image: url("/Resources/Images/Background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	position: relative;

	height: 100%;
	width: 100%;

	.Content {
		height: 100%;
		width: 50%;
		background-color: rgba(105, 105, 105, 0.3);

		position: relative;

		@media (max-width: 768px) {
			width: 100%;
		}

		.InnerContentWrapper {
			margin: 15px;
			height: calc(100% - 30px);
			overflow-y: hidden;
		}
	}
}
