.ContentWrapper {
	background-image: url("/Resources/Images/Background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	position: relative;

	height: 100%;
	width: 100%;

	.Content {
		height: 100%;
		width: 50%;
		background-color: rgba(41, 40, 40, 0.95);
		border-left: 1px groove black;
		border-right: 1px groove black;
		box-shadow: 0 0 10px 3px rgba(41, 40, 40, 0.95);
		clip-path: inset(0px -15px);

		position: relative;

		@media (max-width: 768px) {
			width: 100%;
		}

		.InnerContentWrapper {
			margin: 15px;
			height: calc(100% - 30px);
			overflow-y: hidden;
		}
	}
}
