<!doctype html>
<html style="height: 100%;width: 100%">

<head>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IdeaMachine</title>
	<link
		href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
		rel="stylesheet">
</head>

<body style="height: 100%; width: 100%; margin: 0">

	@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryToken" }))
	{
		@Html.AntiForgeryToken()
	}
	<div id="reactRoot" style="height: 100%; width: 100%">
	</div>
	<script type="text/javascript" src="/dist/site.js"></script>
</body>

</html>