@import (reference) "common/styles/colors.less";

.Container {
	border: 5px groove @lightblue;
	border-radius: 5px;
	background: @altoGrey;

	cursor: pointer;

	height: 50px;

	transition: 0.3s background ease-in-out;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	&:hover {
		background: white;
	}

	&.Open {
		height: auto;
	}

	.Idea {
		height: calc(100% - 10px);
		width: 100%;

		padding: 5px;

		.ShortDescription {
			margin-top: 10px;
		}

		.TotalLikeContainer {
			height: 100%;

			.ThumbButton {
				margin-left: 2px;
			}
		}

		.ExpandMore {
			cursor: pointer !important;
		}
	}

	.ControlSection {
		margin-left: -5px;
	}
}