{
	"arrowParens": "always",
	"endOfLine": "auto",
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"singleQuote": false,
	"insertPragma": false,
	"printWidth": 160,
	"proseWrap": "preserve",
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"importOrder": [
		"^hooks/?(.*)$",
		"(^components/(.*)$)",
		"(\\.styles|\\.less|\\.scss)$",
		"^[\\./]"
	],
	"importOrderSeparation": true
}